#title {
	text-align: center;
}

pre {
	background-color: #CCCCCC;
}

.racer {
	position: relative;
	text-align: center;
	padding: 0.1em;
	background-color: blue;
	color: white;
}

.bar {
	background-color: blue;
	text-align: center;
    position: absolute;
    bottom: 100px;
    left: 50px;
	color: white;
	margin: 10px;
}