.dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid white;
  padding: 2px 3px 2px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;

  div.title-cont {
    line-height: 18px;
    height: 21px;
    cursor: default;
    outline: none;
  }

  ul.menu-cont {
    position: absolute;
    z-index: 1000;
    list-style-type: none;

    top: 100%;
    left: 0;
    margin: 0;
    padding: 2px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    border: 1px solid black;
    background: white;

    li.item {
      position: relative;
      cursor: pointer;

      font-size: 12px;
      line-height: 26px;
      padding-right: 40px;
    }

    li.spacer {
      border-top: 1px solid gray;
    }
  }
}
